<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
  <link href="../static/css/style.css" th:href="@{/css/style.css}"
    rel="stylesheet" />
</head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<body>

<form class = "login-form" action="#" th:action="@{/login}" method="POST">
  <input type="hidden" th:field="${user.id}" value = "-1"/>

  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" th:field="${user.username}" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" th:field="${user.password}" required>

    <button type="submit">Login</button>
  </div>

</form>
</body>
</html>